body{
    background-color: #fbf2e2;
    font-family: Arial, Helvetica, sans-serif;
}

@media only screen and (max-width: 600px) {

    /* HOME */
    .carousel-text{
        padding-left: 100px;
        color:  #573a1a;
        margin-bottom: 2em;
    }

    .accomplishmentstxt{
        text-align: center !important;
        font-size: 40px;
    }
    /* END HOME */

    /* ABOUT US */
    .imageContent img{
        width: 100% !important;
        height: 500px !important;
        margin: auto;
    }

    .imageContent p{
        width: 100% !important;
        padding:1em;
        text-align: center;
        margin: auto;
    }
    /* END ABOUT US */
  }

.content-wrapper{
    padding-top: 5em;
    
    padding-left: 20px;
    padding-right: 20px;
}
/* -------------- HOME -------------- */
.carousel-control-prev{
    height: 100px;
    width: 100px;
}

.carousel-control-next{
    height: 100px;
    width: 100px;
}

.carousel-inner .carousel-item{
    margin-bottom: 5em;
}

.carousel-text{
    padding-left: 100px;
    color:  #573a1a;
}

.carousel-inner .carousel-item h1 {
    font-size: 80px;
    text-align: left;
}

.carousel-inner .carousel-item button {
    background-color:  #573a1a;
    border:  #573a1a;
}

.carousel-inner .carousel-item img {
    padding: 0px;
    /* height:360px; */
}

.video{
    margin-left:2em;
    margin-right:2em;
    margin-bottom: 5em;
}

.video h5{
    color:  #573a1a;
    padding: 10px;
}

.video video{
    margin: auto;
    width: 100%; 
    height: 240px;
}

.accomplishmentstxt{
    color:  #573a1a;
    padding: 10px;
}
.accomplishments{
    margin: auto;
    margin-bottom: 5em;
}

.accomplishmentsIcon{
    color:  #573a1a;
    text-align: center;
    padding: 30px;
    width: 100%;
}

.accomplishments p{
    text-align: center;
    width: 100%;
    color:  #573a1a;
    font-size: 20px;
}

.accomplishments .ln{
    border-bottom: solid 2px black;
    width: 30%;
    margin: auto;
}

.accomplishments h3{
    padding-top: 20px;
    text-align: center;
    width: 100%;
}

.medicaltxt{
    color:  #573a1a;
    padding: 10px;
}
.medical{
    margin: auto;
    margin-bottom: 5em;
    /* height: 350px; */
}

.projectstxt{
    color:  #573a1a;
    padding: 10px;
}

.projects{
    margin: auto;
    /* height: 350px; */
}

.projectsAll{
    text-align: center;
}

.projectsAll a{
    background-color:  #573a1a;
    border:  #573a1a;
    margin-bottom: 20px;
}

.projects img{
    padding-top: 20px;
}

.projects h5{
    text-align: center;
    background-color:  #573a1a;
    color: white;
}

.projects1{
    margin: auto;
    /* height: 350px; */
}

.projects1 img{
    padding-bottom: 20px;
}

/* -------------- END HOME -------------- */

/* -------------- END ABOUT US -------------- */
.imageContent{
    margin-bottom: 5em;
}

.imageContent img{
    width: 500px;
    height: 500px;
}

.imageContent p{
    padding-right: 2em;
    padding-right: 2em;
    font-size: 30px;
}

.aboutAccomplishments{
    margin-bottom: 5em;
    padding: 10px;
}

.aboutAccomplishments h1{
    text-align: center;
}

.aboutAccomplishments table, th, td{
    text-align: center;
    border: solid black 2px;
    padding: 20px;
    height: 50px;
    margin: auto;
    background-color: white;
    
}
.aboutAccomplishments  th{
    color:white;
    background-color: #573a1a;
}

.total{
    font-weight: bold;
    background-color: #FFFF66;
}

.aboutPrograms{
    margin-bottom: 5em;
}

.aboutPrograms h1{
    text-align: center;
}

.brLine{
    border-top:  #573a1a solid 2px;
    width: 80%;
    margin: auto;
    margin-top: 3em;
    margin-bottom: 3em;
}

.programTxt p{
    font-size: 20px;
}
/* -------------- END ABOUT US -------------- */

/* -------------- END EVENTS -------------- */
.eventBanner img{
    padding-top: 5em;
    width: 100%;
}

.eventImg img{
    margin-bottom: 5em;
}
/* -------------- END EVENTS -------------- */

.title{
 text-align: center;
 padding-top: 20px;
}

.footer {
    width: 100%;
    background-color: #573a1a;
    color: white;
}