body{
    background-color: #fbf2e2;
}

@media only screen and (max-width: 600px) {
    .carousel-text{
        padding-left: 100px;
        color:  #573a1a;
        margin-bottom: 2em;
    }
  }

.content-wrapper{
    padding-top: 5em;
}
/* -------------- HOME -------------- */
.carousel-control-prev{
    height: 100px;
    width: 100px;
}

.carousel-control-next{
    height: 100px;
    width: 100px;
}

.carousel-inner .carousel-item{
    margin-bottom: 5em;
}

.carousel-text{
    padding-left: 100px;
    color:  #573a1a;
}

.carousel-inner .carousel-item h1 {
    font-size: 80px;
    text-align: left;
}

.carousel-inner .carousel-item button {
    background-color:  #573a1a;
    border:  #573a1a;
}

.carousel-inner .carousel-item img {
    padding: 0px;
    /* height:360px; */
}

.video{
    margin-left:2em;
    margin-right:2em;
    margin-bottom: 5em;
}

.video h5{
    color:  #573a1a;
    padding: 10px;
}

.video video{
    margin: auto;
    width: 100%; 
    height: 240px;
}

.accomplishmentstxt{
    color:  #573a1a;
    padding: 10px;
}
.accomplishments{
    margin: auto;
    margin-bottom: 5em;
    height: 400px;
}

.accomplishmentsIcon{
    color:  #573a1a;
    text-align: center;
    padding: 30px;
    width: 100%;
}

.accomplishments p{
    text-align: center;
    width: 100%;
    color:  #573a1a;
    font-size: 20px;
}

.accomplishments .ln{
    border-bottom: solid 2px black;
    width: 30%;
    margin: auto;
}

.accomplishments h3{
    padding-top: 20px;
    text-align: center;
    width: 100%;
}

.medicaltxt{
    color:  #573a1a;
    padding: 10px;
}
.medical{
    margin: auto;
    margin-bottom: 5em;
    /* height: 350px; */
    height: 100px;
}

.medical .card{
    margin: 2em;
    width: 18rem;
    height: 12rem;
}

.medical .card-body{
    text-align: center;
}

.medical .card .card-body a{
    color:  #573a1a;
    background-color:  white;
    border:  #573a1a 2px solid;
}

.medicalAll{
    text-align: center;
}

.medicalAll a{
    background-color:  #573a1a;
    border:  #573a1a;
}

.projectstxt{
    color:  #573a1a;
    padding: 10px;
}

.projects{
    margin: auto;
    /* height: 350px; */
}

.projectsAll{
    text-align: center;
}

.projectsAll a{
    background-color:  #573a1a;
    border:  #573a1a;
    margin-bottom: 20px;
}

.projects img{
    padding-top: 20px;
}

.projects h5{
    text-align: center;
    background-color:  #573a1a;
    color: white;
}

.projects1{
    margin: auto;
    /* height: 350px; */
}

.projects1 img{
    padding-bottom: 20px;
}

/* -------------- END HOME -------------- */

/* -------------- END ABOUT US -------------- */
.imageContent{
    margin-bottom: 5em;
}

.imageContent img{
    width: 500px;
    height: 500px;
}

.imageContent p{
    padding-right: 2em;
    padding-right: 2em;
    font-size: 30px;
}

.aboutAccomplishments{
    margin-bottom: 5em;
}

.aboutAccomplishments h1{
    padding-left: 5em;
}

.aboutAccomplishments table, th, td{
    text-align: center;
    border: solid black 2px;
    width: 800px;
    height: 50px;
    margin: auto;
    background-color: lightblue;
}
.aboutAccomplishments  th{
    background-color: lightseagreen;
}

.total{
    font-weight: bold;
    background-color: yellow;
}

.aboutPrograms{
    margin-bottom: 5em;
}

.aboutPrograms h1{
    text-align: center;
}

.aboutPrograms h2{
    padding-left: 5em;
}
/* -------------- END ABOUT US -------------- */

.footer {
    width: 100%;
    background-color: #573a1a;
    color: white;
}